{% assign settingsFooterBg = settings.footer_bg %}
<div class=" text-white py-8 px-4 lg:pt-32 lg:pb-24 lg:px-4 flex flex-col items-center" style="background-color: {{ settingsFooterBg }};">
  <div class="container flex flex-col justify-center items-center gap-12">
    <div class="flex flex-wrap md:flex-nowrap justify-center gap-0 md:gap-12 lg:gap-32 w-full">
      <div class="space-y-4 basis-1/2 lg:basis-1/4 text-center lg:text-start">
        {% if settings.footer_menu_title_1 != blank %}
          <h3 class="text-base uppercase font-Gazpacho mb-10">
            {{ settings.footer_menu_title_1 }}
          </h3>
        {% endif %}
        {% for link in settings.footer_menu_1.links %}
          <div class="pb-4 font-Aksen">
            <a href="{{ link.url }}" class="text-white hover:opacity-75">{{ link.title }}</a>
          </div>
        {% endfor %}
      </div>

      <div class="space-y-4 basis-1/2 lg:basis-1/4 pb-8 md:pb-0 text-center lg:text-start">
        {% if settings.footer_menu_title_2 != blank %}
          <h3 class="text-base uppercase font-Gazpacho mb-10">
            {{ settings.footer_menu_title_2 }}
          </h3>
        {% endif %}
        {% for link in settings.footer_menu_2.links %}
          <div class="pb-4 font-Aksen">
            <a href="{{ link.url }}" class="text-white hover:opacity-75">{{ link.title }}</a>
          </div>
        {% endfor %}
      </div>

      <div class="space-y-4 basis-full lg:basis-1/2  pb-8 md:pb-0 flex-shrink">
        <h3 class="text-white font-Gazpacho uppercase text-base py-2 text-center lg:text-start">
          {{ settings.newsletter_title }}
        </h3>
        {% form 'customer', class: 'flex flex-col py-2 items-center lg:flex-row gap-2 w-full' %}
          <input
            type="email"
            name="contact[email]"
            class="b-footer-input"
            placeholder="{{ settings.newsletter_placeholder }}"
            required
          >
          <button
            type="submit"
            class="btn btn-primary b-footer-btn"
          >
            {{ settings.newsletter_button_text }}
          </button>
        {% endform %}

        <div class="mt-6 flex items-center justify-center lg:justify-start gap-4">
          <p class="text-white font-bold">{{ settings.social_title }}</p>
          <div class="flex gap-4">
            {% if settings.social_facebook != blank and settings.social_facebook_icon != blank %}
              <a href="{{ settings.social_facebook }}" target="_blank" class="hover:opacity-75">
                <img src="{{ settings.social_facebook_icon | image_url }}" alt="Facebook" class="w-12 h-12">
              </a>
            {% endif %}
            {% if settings.social_instagram != blank and settings.social_instagram_icon != blank %}
              <a href="{{ settings.social_instagram }}" target="_blank" class="hover:opacity-75">
                <img src="{{ settings.social_instagram_icon  | image_url }}" alt="Instagram" class="w-12 h-12">
              </a>
            {% endif %}
            {% if settings.social_twitter != blank and settings.social_twitter_icon != blank %}
              <a href="{{ settings.social_twitter }}" target="_blank" class="hover:opacity-75">
                <img src="{{ settings.social_twitter_icon | image_url }}" alt="Twitter" class="w-12 h-12">
              </a>
            {% endif %}
            {% if settings.social_youtube != blank and settings.social_youtube_icon != blank %}
              <a href="{{ settings.social_youtube }}" target="_blank" class="hover:opacity-75">
                <img src="{{ settings.social_youtube_icon | image_url }}" alt="YouTube" class="w-12 h-12">
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="w-full ">
      <p class="text-base text-right text-white-content border-b border-white-bd pb-4 font-Aksen">{{ settings.copyright_text }}</p>
      {% for link in settings.footer_menu_3.links %}
        <a href="{{ link.url }}" class="text-base text-white-content hover:text-black-content">{{ link.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>
