{% assign settingsHeaderBg = settings.header_bg %}

{% capture accountIcon %}
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_7791_25650)">
        <path d="M7.03293 26.0002C7.00983 26.0002 7.00983 26.0002 6.98674 26.0002C6.68651 25.9771 6.47866 25.7231 6.50175 25.4459C6.80198 21.0349 10.959 17.5938 15.9475 17.5938C20.9359 17.5938 25.093 21.0349 25.3932 25.4228C25.4163 25.7231 25.1854 25.954 24.9082 25.9771C24.608 26.0002 24.377 25.7693 24.3539 25.4921C24.0768 21.6353 20.3817 18.633 15.9475 18.633C11.4902 18.633 7.79505 21.6584 7.54101 25.5152C7.51792 25.7924 7.28697 26.0002 7.03293 26.0002Z" fill="#474747"/>
        <path d="M15.9472 16.5312C13.0373 16.5312 10.6816 14.1755 10.6816 11.2656C10.6816 8.35566 13.0373 6 15.9472 6C18.8572 6 21.2128 8.35566 21.2128 11.2656C21.2128 14.1755 18.8572 16.5312 15.9472 16.5312ZM15.9472 7.06236C13.6378 7.06236 11.744 8.95612 11.744 11.2656C11.744 13.5751 13.6378 15.4688 15.9472 15.4688C18.2567 15.4688 20.1505 13.5751 20.1505 11.2656C20.1505 8.95612 18.2567 7.06236 15.9472 7.06236Z" fill="#474747"/>
        </g>
        <defs>
        <clipPath id="clip0_7791_25650">
            <rect width="20" height="20" fill="white" transform="translate(6 6)"/>
        </clipPath>
        </defs>
    </svg>
{% endcapture %}

{% capture searchIcon %}
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.9399 18.1543L14.5995 13.8139C15.9316 12.2948 16.6667 10.3726 16.6667 8.33333C16.6667 6.10731 15.7997 4.01476 14.2258 2.44086C12.6519 0.866971 10.5594 0 8.33333 0C6.10731 0 4.01476 0.866971 2.44086 2.44086C0.866971 4.01476 0 6.10731 0 8.33333C0 10.5594 0.866971 12.6519 2.44086 14.2258C4.01476 15.7997 6.10731 16.6667 8.33333 16.6667C10.3726 16.6667 12.2948 15.9316 13.8139 14.5995L18.1543 18.9399C18.2628 19.0484 18.4049 19.1026 18.5471 19.1026C18.6892 19.1026 18.8314 19.0484 18.9399 18.9399C19.1569 18.7229 19.1569 18.3713 18.9399 18.1543ZM3.22645 13.4402C1.86252 12.076 1.11111 10.2623 1.11111 8.33333C1.11111 6.40435 1.86252 4.59066 3.22645 3.22645C4.59066 1.86252 6.40435 1.11111 8.33333 1.11111C10.2623 1.11111 12.076 1.86252 13.4402 3.22645C14.8041 4.59066 15.5556 6.40435 15.5556 8.33333C15.5556 10.2623 14.8041 12.076 13.4402 13.4402C12.076 14.8041 10.2623 15.5556 8.33333 15.5556C6.40435 15.5556 4.59066 14.8041 3.22645 13.4402Z" fill="#474747"/>
    </svg>

{% endcapture %}

{% if settings.show_promo %}
  <div class="b-header__promo w-full py-6 px-12 text-center tracking-wid text-white-content tracking-[0.1rem]">
    {% if settings.show_promo_link != blank %}<a href="{{ settings.show_promo_link }}" target="_blank">{% endif %}
    {{ settings.promo_text }}
    {% if settings.show_promo_link != blank %}
      {% render 'icon-arrow-right' %}
      </a>
    {%- endif %}
  </div>
{% endif %}
<div
  class="relative b-header__wrapper"
  {% if settingsHeaderBg %}
    style="background-color: {{ settingsHeaderBg }};"
  {% endif %}>
  <div class="b-header__inner container m-responsive md:py-8 mx-auto m-{{settings.header_layout}} {% if shop.customer_accounts_enabled %} header--has-account{% endif %}">
    {% render 'menu-mobile', menuItems: settings.header_menu_1.links %}
    <nav class="b-header__nav-left">
      {% assign dropdown_counter = 0 %}
      <ul class="b-header__list flex">
        {% for link in settings.header_menu_1.links %}
          {% assign is_active = (link.url == request.path or link.url == request.fullpath) %}
          {% if link.links.size > 0 and settings.is_enabled_megamenu %}
            {% assign dropdown_counter = dropdown_counter | plus: 1 %}
            {% render 'megamenu', link: link, dropdown_index: dropdown_counter, is_active: is_active %}
          {% else %}
            <li class="menu-item b-header__list-item">
              <a
                href="{{ link.url }}"
                title="{{ link.title }}"
                class="b-header__list-link {% if is_active %}m-active{% endif %}"
                {% if is_active %}aria-current="page"{% endif %}
              >
                {{ link.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class="b-header__logo flex w-[150px]">
      <a href="{{ routes.root_url }}" class="flex items-center no-underline ">
        {% if settings.header_logo != blank %}
          <img src="{{ settings.header_logo | image_url }}" width="240" height="110" alt="{{ shop.name }}">
        {% else %}
          Logo title
        {% endif %}
      </a>
    </div>
    {%- if settings.header_menu_2.links.size > 0 -%}
      <nav class="b-header__nav-right">
        <ul class="b-header__list flex">
          {% for link in settings.header_menu_2.links %}
            <li class="menu-item b-header__list-item">
              <a
                href="{{ link.url }}"
                title="{{ link.title }}"
                class="b-header__list-link text-color_1 hover:text-black-content">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {%- endif -%}
    <div class="b-header__cartlogin">
        <div class="b-header_search flex" x-data>
            <button type="button" aria-label="Open search" @click="$store.search.open()" class="cursor-pointer">
              {{ searchIcon }}
            </button>
        </div>

      {%- if shop.customer_accounts_enabled -%}
        <a
            href="{{ routes.account_login_url }}"
            class="b-header__account flex hover:scale-110"
            x-data
            @click.prevent.stop="$store.auth.open('login')"
        >
        
            {{ accountIcon }}
        </a>
      {%- endif -%}

      <div class="b-header_wishlist text-[#474747]">
        {% render 'wishlisthero-header-icon.liquid' %}
      </div>
      
      <div class="b-header_cart" x-data>
        <span
          id="i-mini-cart"
          @click.stop="$store.cart.toggleCart()"
          class="b-header_cart-toggle text-color_1 relative cursor-pointer flex hover:scale-110">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
           <path d="M10.7972 25H21.1566C22.9748 25 24.4538 23.5209 24.4538 21.7028V11.8462C24.4538 11.5246 24.1908 11.2615 23.8692 11.2615H20.3615V10.3846C20.3615 7.96723 18.3943 6 15.9769 6C13.5595 6 11.5923 7.96723 11.5923 10.3846V11.2615H8.08462C7.76308 11.2615 7.5 11.5246 7.5 11.8462V21.7028C7.5 23.5209 8.97908 25 10.7972 25ZM12.7615 10.3846C12.7615 8.61031 14.2026 7.16923 15.9769 7.16923C17.7512 7.16923 19.1923 8.61031 19.1923 10.3846V11.2615H12.7615V10.3846ZM8.66923 12.4308H11.5923V13.8923C11.5923 14.2138 11.8554 14.4769 12.1769 14.4769C12.4985 14.4769 12.7615 14.2138 12.7615 13.8923V12.4308H19.1923V13.8923C19.1923 14.2138 19.4554 14.4769 19.7769 14.4769C20.0985 14.4769 20.3615 14.2138 20.3615 13.8923V12.4308H23.2846V21.7028C23.2846 22.8749 22.3288 23.8308 21.1566 23.8308H10.7972C9.62508 23.8308 8.66923 22.8749 8.66923 21.7028V12.4308Z" fill="#474747"/>
          </svg>


          <span
            class="b-header__cart-count"
            x-text="$store.cart.itemsCount"
            x-show="$store.cart.itemsCount > 0"></span>
        </span>
      </div>
    </div>
  </div>
</div>


