{%- if product.metafields.custom.ingredients_nutrition.value != blank
  or product.metafields.custom.variety_pack_products.value != blank
-%}

  <section class="product_ingre-and-nutr">
    <div class="container">
    {% comment %} <h2 class="product_ingre-and-nutr-title inline-richtext h1">Ingredients & Nutrition</h2> {% endcomment %}
     <div class="page-width">
        {% liquid
          assign ingredients_nutrition = product.metafields.custom.ingredients_nutrition.value

          assign ingredients_name = ingredients_nutrition.name.value
          assign ingredients_icons = ingredients_nutrition.ingredients_icons.value
          assign ingredients = ingredients_nutrition.ingredients
          assign nutrition = ingredients_nutrition.nutrition.value
          assign alternate_image = product.metafields.custom.alternate_image

          assign ingredients_nutrition_2 = product.metafields.custom.ingredients_nutrition_facts.value
        %}
        <section class="b-pdp_accordion">
          <div class="font-Gazpacho text-2xl text-center pt-12 b-pdp_accordion--title">Ingredients & Nutrition</div>
          <div x-data="{ openItem: null }" class="b-pdp_accordion--list max-w-screen-md mx-auto mt-8">
            {% for ingredient in ingredients_nutrition_2 %}
              {% liquid
                assign ingredients_name_2 = ingredient.name.value
                assign ingredients_icons_2 = ingredient.ingredients_icons.value
                assign ingredients_2 = ingredient.ingredients
                assign nutrition_2 = ingredient.nutrition.value
              %}
              <div class="b-pdp_accordion--item border-t-2">
                <button
                  @click="openItem === {{ forloop.index }} ? openItem = null : openItem = {{ forloop.index }}"
                  class="b-pdp_accordion--item_btn w-full text-left px-4 py-3 bg-gray-100 hover:bg-gray-200 transition"
                >
                  <div class="flex gap-8 pr-10 relative">
                    {% render 'image' with alternate_image, widths: '100,200', class: 'b-pdp_accordion--item_image' %}
                    <div class="flex flex-col justify-center">
                      <h3 class="font-bold text-base">
                        {{ ingredients_name_2 }}
                      </h3>
                      <span class="text-base">
                        Ingredients & Nutrition Facts
                      </span>
                    </div>
                    <svg
                      class="absolute right-0 top-1/2 -mt-5 transition-all b-pdp_accordion--item_icon"
                      :class="{ 'transform rotate-45': openItem === {{ forloop.index }} }"
                      width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 4V20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M4 12H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                </button>
                <div
                  x-show="openItem === {{ forloop.index }}"
                  x-collapse
                  class="b-pdp_accordion--item_content px-4 py-3 mb-4 rounded-regular bg-white text-gray-700"
                >
                  <div class="ingredients">
                    {{ ingredients_2 | metafield_tag }}
                  </div>

                  {% if ingredients_icons_2 != blank %}
                    <div class="ingredients_icons">
                      {% for item in ingredient.ingredients_icons %}
                        <div class="ingredients_icon">
                          {{
                            item.icon
                            | image_url: width: item.icon.width
                            | image_tag:
                              widths: '50, 75, 100, 150, 200, 300, 400'
                          }}
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                  {% if nutrition_2 != blank %}
                    <div class="product_nutrition">
                      {% render 'nutrition-table', nutrition: nutrition_2 %}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </section>



        <div class="product_ingredients_box {% if alternate_image %}m-image{% endif %}">
          {% if alternate_image %}
            <figure class="product_ingredients_box-image">
              <img src="{{ alternate_image | img_url: '800x' }}" alt="{{ product.featured_image.alt | escape }}">
            </figure>
          {% endif %}
          <div class="product_ingredients_box-text">
            {{ product.description }}
          </div>
        </div>
        {% if ingredients != blank %}
          <div class="product_ingredients-block">
            <div class="ingredients-nutrition-row">
              <!-- Second Column: RTE Content and Icons -->
              <div class="column content-column">
                <div class="rte">
                  {{ ingredients | metafield_tag }}
                </div>

                {% if ingredients_icons != blank %}
                  <div class="ingredients_icons" style="display: none;">
                    {% for item in ingredients_icons %}
                      <div class="ingredients_icon">
                        {{
                          item.icon
                          | image_url: width: item.icon.width
                          | image_tag:
                            widths: '50, 75, 100, 150, 200, 300, 400'
                        }}
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

              <!-- First Column: Nutrition Table -->
              <div class="column nutrition_column">
                {% if nutrition != blank %}
                  <div class="product_nutrition">
                    {% render 'nutrition-table', nutrition: nutrition %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}


<style>
.ingredients-nutrition-row {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.template-product .ingredients-nutrition-row {
  font-size: 10px;
  line-height: 17px;
  color: var(--tertiary-color);
  font-weight: 500;
}

.column {
  flex: 1;
}

.nutrition_column {
  flex: 1;
  margin-block-start: 1.3em;
}

.ingredients_icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.ingredients_icon img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .ingredients-nutrition-row {
    flex-direction: column;
    gap: 10px;
  }

  .nutrition_column {
    flex: 1;
    width: 100%;
  }
}
.nutrition-label.vertical-label {
  zoom: 0.8;
}
</style>
