<div class="b-product">
  <a href="{{ product.url }}" class="b-product-link">
    {% render 'image' with product.featured_image %}
  </a>
  <h3 class="b-product-title">
    <a href="{{ product.url }}">{{ product.title }}</a>
  </h3>
  <span class="b-product-price">
    {% if product.compare_at_price > product.price %}
      <span class="line-through text-gray-500">{{ product.compare_at_price | money }}</span>
    {% endif %}
    {{ product.price | money }}
  </span>
  <div class="b-product-actions">
    <button
      class="b-product-add_to_cart btn"
      aria-label="Add to cart"
      data-product-id="{{ product.first_available_variant.id }}"
      @click="$store.cart.addToCart({variantId: $el.dataset.productId})"
    >
      Add To Cart
    </button>
  </div>
</div>
