{%- comment -%}
  RTX PDP Snippet
    v1.0.2-221208
{%- endcomment -%}
{%- liquid
  assign retextionAppId = '5859381'
  assign currentVariant = variant | default: product.selected_or_first_available_variant
  assign requiresPlan = product.requires_selling_plan
  assign selectedAllocation = nil
  assign selectedOrFirstAllocation = nil
  assign sellingPlanGroups = product.selling_plan_groups | where: 'app_id', retextionAppId
  for allocation in currentVariant.selling_plan_allocations
    assign group = sellingPlanGroups | where: 'id', allocation.selling_plan_group_id | first
    if group == blank
      continue
    endif
    if allocation.selling_plan.selected
      assign selectedAllocation = allocation
      assign selectedOrFirstAllocation = allocation
      break
    endif
  endfor
-%}
{%- if sellingPlanGroups.size > 0 -%}
  {%- comment -%} Shorthand Variables {%- endcomment -%}
  {%- liquid

    assign allocationCount = 0
    capture sellingPlanOptions
      for allocation in currentVariant.selling_plan_allocations
        assign plan = allocation.selling_plan
        assign group = sellingPlanGroups | where: 'id', allocation.selling_plan_group_id | first
        if group == blank
          continue
        endif
        
        if selectedOrFirstAllocation == blank
          assign selectedOrFirstAllocation = allocation
        endif
        
        echo '<option'
        if allocation == selectedAllocation
          echo ' selected'
        endif
        echo ' value="' | append: forloop.index0 | append: '">'
        echo plan.name | escape
        echo '</option>'
        assign allocationCount = allocationCount | plus: 1
      endfor
    endcapture
  -%}
  {%- comment -%} Buy Box Styles {%- endcomment -%}
  
  <div data-rtx-subscription-{{ product.id }}-{{ section.id }}-{{ block.id }} class="rtx-subscription">
    {%- comment -%} Subscription type toggle {%- endcomment -%}
    {%- unless requiresPlan -%}
      <div class="rtx-subscription-inner">
        <label for="purchaseTypeOneTime"  class="rtx-subscription-label {% if selectedAllocation == blank %}is-selected{% endif %}">
          <div class="rtx-subscription-label__inner">
            <input type="radio" id="purchaseTypeOneTime" name="purchaseType" value="otp" {% if selectedAllocation == blank %}checked{% endif %} />
            <span>{{ settings.buybox--onetime | default: 'One Time' | escape }}<span data-rtx-onetime-price class="rtx-subscription-label__price"></span></span>
          </div>
        </label>
        <label class="rtx-subscription-label {% if selectedAllocation != blank %}is-selected{% endif %}" for="purchaseTypeSubscription">
          <div class="rtx-subscription-label__inner">
            <input type="radio" id="purchaseTypeSubscription" name="purchaseType" value="sub" {% if selectedAllocation != blank %}checked{% endif %} />
            <span class="123123">
              {{ product.selling_plan_groups.first.name | escape }}
              {%- liquid 
                  assign strSavePercentage = ''
                  assign opt = selectedOrFirstAllocation.selling_plan.price_adjustments.first
                  if opt.value_type == 'percentage'
                    assign strSavePercentage = opt.value
                  endif
                  if strSavePercentage != blank
                    echo '' | append: strSavePercentage | append: '%'
                  endif
                -%}
              <span data-rtx-subscription-price>
                
              </span>
            </span>
          </div>
          {%- comment -%} Subscription Box {%- endcomment -%}
          <div data-retextion-subscription-box class="
            rtx-subscription-box
            {% if requiresPlan or selectedAllocation != blank %}
              is-visible
            {% endif %}
          ">
            {% comment %}
            <span class="rtx-subscription-single-label {% if allocationCount == 1 %}is-visible{% endif %}">
              {{- selectedOrFirstAllocation.selling_plan.name | escape -}}
            </span>
            {% endcomment %}
            <select class="rtx-subscription-dropdown" name="selling_plan">
              {{- sellingPlanOptions -}}
            </select>
          </div>
        </label>

      </div>
    {%- endunless -%}
  </div>
  
  {% style %}
    @media (max-width: 989px){
      .template-product .footer{
        padding-bottom: 280px;
      }
    }
    
  {% endstyle %}
{%- endif -%}