<section class="
  pb-12
  palette-{{ section.settings.color_scheme }}
  bg-scheme-bg"
>
  <div class="b-blog_head flex flex-col justify-center">
    <div class="container px-8">
      {% if section.settings.title != blank %}
        <h2 class="text-center text-3xl sm:text-4xl md:text-6xl font-Gazpacho text-white">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <p class="text-center text-baseLarge sm:text-2xl font-Gazpacho text-white">{{ section.settings.subtitle }}</p>
      {% endif %}
    </div>
  </div>
  <div class="container px-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-24 b-blog_list">
      {% assign blog_handle = section.settings.blog %}
      {% assign blog = blogs[blog_handle] %}
      {% if blog != null and blog.articles.size > 0 %}
        {% for article in blog.articles %}
          <div class="flex flex-col bg-white shadow-regular rounded-regular">
            <figure class="
              rounded-regular
              overflow-hidden
              relative
              pb-[100%]
              mb-10
              b-blog_list--item_figure
            ">
              <a href="{{ article.url }}">
                {% if article.image %}
                  {% render 'image' with article.image,
                    class: "object-cover rounded-t-lg absolute top-0 left-0 w-full h-full",
                    alt: article.title
                  %}
                {% endif %}
              </a>
            </figure>
            <div class="px-10 pb-10 font-Aksen text-center text-black">
              <h3 class="uppercase font-bold text-baseBig">
                <a href="{{ article.url }}">{{ article.title | strip_html | truncate: 40 }}</a>
              </h3>
              <p class="text-baseBig">{{ article.excerpt | strip_html | truncate: 130 }}</p>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="text-gray-500 text-center col-span-3">No posts available.</p>
      {% endif %}
    </div>
  </div>
</section>

<style>
  .b-blog_head {
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    height: 595px;
    background-color: {{ section.settings.heading-color }};
    background-image: url("{{ section.settings.heading-img | img_url: '500x500' }}");
  }

  @media (max-width: 1170px) {
    .b-blog_head {
      height: 500px;
    }
  }

  @media (max-width: 767px) {
    .b-blog_head {
      height: 300px;
    }
  }
</style>

{% schema %}
  {
    "name": "Blog Posts",
    "settings": [
      {
        "type": "blog",
        "id": "blog",
        "label": "Select Blog"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color Scheme",
        "default": "scheme-1"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "ALL IN Blog"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "image_picker",
        "id": "heading-img",
        "label": "Heading Image"
      },
    ],
    "presets": [
      {
        "name": "Blog Posts"
      }
    ]
  }
  {% endschema %}
