<section class="m-blog-modern anim-slide-in-bottom">
  <div class="container">
    <div class="m-blog-modern__header">
      <h1 class="m-blog-modern__main-title">{{ section.settings.blog_title | default: 'Journal' }}</h1>
    </div>

    {%- assign blog = blogs[section.settings.blog] -%}
    {%- assign posts_limit = section.settings.posts_limit | default: 9 -%}

    {%- if blog and blog.articles.size > 0 -%}
      {%- assign total_posts = blog.articles.size -%}
      {%- assign posts_to_show = posts_limit | at_most: total_posts -%}

      {%- for i in (1..posts_to_show) -%}
        {%- assign post_index = i | minus: 1 | modulo: total_posts -%}
        {%- assign article = blog.articles[post_index] -%}
        {%- assign group_index = i | minus: 1 | divided_by: 3 -%}
        {%- assign position_in_group = i | minus: 1 | modulo: 3 -%}
        {%- assign is_mirror_group = group_index | modulo: 2 -%}

        {%- if position_in_group == 0 -%}
          <div class="m-blog-modern__group {% if is_mirror_group == 1 %}m-blog-modern__group--reverse{% endif %}">
          <article class="m-blog-post m-blog-post--large">
            <div class="m-blog-post__image">
              <a href="{{ article.url }}">
                {%- if article.image -%}
                  <img src="{{ article.image | img_url: '600x400', crop: 'center' }}" alt="{{ article.title | escape }}" class="m-blog-post__img">
                {%- elsif section.settings.default_image -%}
                  <img src="{{ section.settings.default_image | img_url: '600x400', crop: 'center' }}" alt="{{ article.title | escape }}" class="m-blog-post__img">
                {%- else -%}
                  <div class="m-blog-post__placeholder">
                    {{ 'image' | placeholder_svg_tag: 'm-blog-post__placeholder-svg' }}
                  </div>
                {%- endif -%}
              </a>
            </div>
            <div class="m-blog-post__content">
              <h3 class="m-blog-post__title">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h3>
              <div class="m-blog-post__excerpt">
                {%- if article.excerpt != blank -%}
                  {{ article.excerpt | strip_html | truncatewords: 22 }}
                {%- else -%}
                  {{ article.content | strip_html | truncatewords: 22 }}
                {%- endif -%}
              </div>
              <a href="{{ article.url }}" class="m-blog-post__link">READ MORE</a>
            </div>
          </article>

          <div class="m-blog-modern__small-posts">
        {%- elsif position_in_group == 1 -%}
          <article class="m-blog-post m-blog-post--small {% if is_mirror_group == 1 %}m-blog-post--reverse{% endif %}">
            {%- if is_mirror_group == 1 -%}
              <div class="m-blog-post__image">
                <a href="{{ article.url }}">
                  {%- if article.image -%}
                    <img src="{{ article.image | img_url: '300x250', crop: 'center' }}" alt="{{ article.title | escape }}" class="m-blog-post__img">
                  {%- elsif section.settings.default_image -%}
                    <img src="{{ section.settings.default_image | img_url: '300x250', crop: 'center' }}" alt="{{ article.title | escape }}" class="m-blog-post__img">
                  {%- else -%}
                    <div class="m-blog-post__placeholder">
                      {{ 'image' | placeholder_svg_tag: 'm-blog-post__placeholder-svg' }}
                    </div>
                  {%- endif -%}
                </a>
              </div>
            {%- endif -%}
            <div class="m-blog-post__content">
              <h3 class="m-blog-post__title">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h3>
              <div class="m-blog-post__excerpt">
                {%- if article.excerpt != blank -%}
                  {{ article.excerpt | strip_html | truncatewords: 20 }}
                {%- else -%}
                  {{ article.content | strip_html | truncatewords: 20 }}
                {%- endif -%}
              </div>
              <a href="{{ article.url }}" class="m-blog-post__link">READ MORE</a>
            </div>
            {%- if is_mirror_group == 0 -%}
              <div class="m-blog-post__image">
                <a href="{{ article.url }}">
                  {%- if article.image -%}
                    <img src="{{ article.image | img_url: '300x250', crop: 'center' }}" alt="{{ article.title | escape }}" class="m-blog-post__img">
                  {%- elsif section.settings.default_image -%}
                    <img src="{{ section.settings.default_image | img_url: '300x250', crop: 'center' }}" alt="{{ article.title | escape }}" class="m-blog-post__img">
                  {%- else -%}
                    <div class="m-blog-post__placeholder">
                      {{ 'image' | placeholder_svg_tag: 'm-blog-post__placeholder-svg' }}
                    </div>
                  {%- endif -%}
                </a>
              </div>
            {%- endif -%}
          </article>
        {%- elsif position_in_group == 2 -%}
          <article class="m-blog-post m-blog-post--small {% if is_mirror_group == 0 %}m-blog-post--reverse{% endif %}">
            {%- if is_mirror_group == 0 -%}
              <div class="m-blog-post__image">
                <a href="{{ article.url }}">
                  {%- if article.image -%}
                    <img src="{{ article.image | img_url: '300x250', crop: 'center' }}" alt="{{ article.title | escape }}" class="m-blog-post__img">
                  {%- elsif section.settings.default_image -%}
                    <img src="{{ section.settings.default_image | img_url: '300x250', crop: 'center' }}" alt="{{ article.title | escape }}" class="m-blog-post__img">
                  {%- else -%}
                    <div class="m-blog-post__placeholder">
                      {{ 'image' | placeholder_svg_tag: 'm-blog-post__placeholder-svg' }}
                    </div>
                  {%- endif -%}
                </a>
              </div>
            {%- endif -%}
            <div class="m-blog-post__content">
              <h3 class="m-blog-post__title">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h3>
              <div class="m-blog-post__excerpt">
                {%- if article.excerpt != blank -%}
                  {{ article.excerpt | strip_html | truncatewords: 20 }}
                {%- else -%}
                  {{ article.content | strip_html | truncatewords: 20 }}
                {%- endif -%}
              </div>
              <a href="{{ article.url }}" class="m-blog-post__link">READ MORE</a>
            </div>
            {%- if is_mirror_group == 1 -%}
              <div class="m-blog-post__image">
                <a href="{{ article.url }}">
                  {%- if article.image -%}
                    <img src="{{ article.image | img_url: '300x250', crop: 'center' }}" alt="{{ article.title | escape }}" class="m-blog-post__img">
                  {%- elsif section.settings.default_image -%}
                    <img src="{{ section.settings.default_image | img_url: '300x250', crop: 'center' }}" alt="{{ article.title | escape }}" class="m-blog-post__img">
                  {%- else -%}
                    <div class="m-blog-post__placeholder">
                      {{ 'image' | placeholder_svg_tag: 'm-blog-post__placeholder-svg' }}
                    </div>
                  {%- endif -%}
                </a>
              </div>
            {%- endif -%}
          </article>
          </div>
          </div>
        {%- endif -%}
      {%- endfor -%}

    {%- else -%}
      {%- for i in (1..posts_limit) -%}
        {%- assign group_index = i | minus: 1 | divided_by: 3 -%}
        {%- assign position_in_group = i | minus: 1 | modulo: 3 -%}
        {%- assign is_mirror_group = group_index | modulo: 2 -%}

        {%- capture demo_title -%}
          {%- case position_in_group -%}
            {%- when 0 -%}Opening of a new cafe Yuum
            {%- when 1 -%}What can you eat in the spring to give your mother more energy?
            {%- when 2 -%}What is immunity and how to boost it?
          {%- endcase -%}
        {%- endcapture -%}

        {%- capture demo_excerpt -%}
          In the spring we often feel this is the marriage of energy. In this article, nutritionist Anna Kaninska explains why this is so, and shares the simple principles of spring food, the use of tea.
        {%- endcapture -%}

        {%- if position_in_group == 0 -%}
          <div class="m-blog-modern__group {% if is_mirror_group == 1 %}m-blog-modern__group--reverse{% endif %}">
          <article class="m-blog-post m-blog-post--large">
            <div class="m-blog-post__image">
              {%- if section.settings.default_image -%}
                <img src="{{ section.settings.default_image | img_url: '600x400', crop: 'center' }}" alt="{{ demo_title | strip }}" class="m-blog-post__img">
              {%- else -%}
                <div class="m-blog-post__placeholder">
                  {{ 'image' | placeholder_svg_tag: 'm-blog-post__placeholder-svg' }}
                </div>
              {%- endif -%}
            </div>
            <div class="m-blog-post__content">
              <h3 class="m-blog-post__title">{{ demo_title }}</h3>
              <div class="m-blog-post__excerpt">{{ demo_excerpt }}</div>
              <a href="#" class="m-blog-post__link">READ MORE</a>
            </div>
          </article>

          <div class="m-blog-modern__small-posts">
        {%- elsif position_in_group == 1 -%}
          <article class="m-blog-post m-blog-post--small {% if is_mirror_group == 1 %}m-blog-post--reverse{% endif %}">
            {%- if is_mirror_group == 1 -%}
              <div class="m-blog-post__image">
                {%- if section.settings.default_image -%}
                  <img src="{{ section.settings.default_image | img_url: '300x250', crop: 'center' }}" alt="{{ demo_title | strip }}" class="m-blog-post__img">
                {%- else -%}
                  <div class="m-blog-post__placeholder">
                    {{ 'image' | placeholder_svg_tag: 'm-blog-post__placeholder-svg' }}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
            <div class="m-blog-post__content">
              <h3 class="m-blog-post__title">{{ demo_title }}</h3>
              <div class="m-blog-post__excerpt">{{ demo_excerpt }}</div>
              <a href="#" class="m-blog-post__link">READ MORE</a>
            </div>
            {%- if is_mirror_group == 0 -%}
              <div class="m-blog-post__image">
                {%- if section.settings.default_image -%}
                  <img src="{{ section.settings.default_image | img_url: '300x250', crop: 'center' }}" alt="{{ demo_title | strip }}" class="m-blog-post__img">
                {%- else -%}
                  <div class="m-blog-post__placeholder">
                    {{ 'image' | placeholder_svg_tag: 'm-blog-post__placeholder-svg' }}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
          </article>
        {%- elsif position_in_group == 2 -%}
          <article class="m-blog-post m-blog-post--small {% if is_mirror_group == 0 %}m-blog-post--reverse{% endif %}">
            {%- if is_mirror_group == 0 -%}
              <div class="m-blog-post__image">
                {%- if section.settings.default_image -%}
                  <img src="{{ section.settings.default_image | img_url: '300x250', crop: 'center' }}" alt="{{ demo_title | strip }}" class="m-blog-post__img">
                {%- else -%}
                  <div class="m-blog-post__placeholder">
                    {{ 'image' | placeholder_svg_tag: 'm-blog-post__placeholder-svg' }}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
            <div class="m-blog-post__content">
              <h3 class="m-blog-post__title">{{ demo_title }}</h3>
              <div class="m-blog-post__excerpt">{{ demo_excerpt }}</div>
              <a href="#" class="m-blog-post__link">READ MORE</a>
            </div>
            {%- if is_mirror_group == 1 -%}
              <div class="m-blog-post__image">
                {%- if section.settings.default_image -%}
                  <img src="{{ section.settings.default_image | img_url: '300x250', crop: 'center' }}" alt="{{ demo_title | strip }}" class="m-blog-post__img">
                {%- else -%}
                  <div class="m-blog-post__placeholder">
                    {{ 'image' | placeholder_svg_tag: 'm-blog-post__placeholder-svg' }}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
          </article>
          </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Blog Modern",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Select Blog"
    },
    {
      "type": "range",
      "id": "posts_limit",
      "label": "Posts to show",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 9
    },
    {
      "type": "text",
      "id": "blog_title",
      "label": "Blog Title",
      "default": "Journal"
    },
    {
      "type": "text",
      "id": "blog_subtitle",
      "label": "Blog Subtitle",
      "default": "YUUM"
    },
    {
      "type": "image_picker",
      "id": "default_image",
      "label": "Default Post Image"
    }
  ],
  "presets": [
    {
      "name": "Blog Modern"
    }
  ]
}
{% endschema %}
