{% render 'entry' with '@/styles/sections/blog-featured.scss' %}

<section class="m-blog-featured-posts">
  <div class="m-blog-featured-posts__container">
    <div class="m-blog-featured-posts__header">
      <h2 class="m-blog-featured-posts__title">More Posts</h2>
    </div>

    {%- assign featured_blog = blogs[section.settings.blog] -%}
    {%- assign posts_limit = section.settings.posts_limit | default: 2 -%}

    {%- if featured_blog and featured_blog.articles.size > 0 -%}
      <div class="m-blog-featured-posts__grid">
        {%- for article in featured_blog.articles limit: posts_limit -%}
          <article class="m-blog-featured-card">
            <div class="m-blog-featured-card__figure">
              <a href="{{ article.url }}" class="m-blog-featured-card__image-link">
                {%- if article.image -%}
                  <img src="{{ article.image | img_url: '600x400', crop: 'center' }}" alt="{{ article.title | escape }}" class="m-blog-featured-card__img">
                {%- elsif section.settings.default_image -%}
                  <img src="{{ section.settings.default_image | img_url: '600x400', crop: 'center' }}" alt="{{ article.title | escape }}" class="m-blog-featured-card__img">
                {%- else -%}
                  <div class="m-blog-featured-card__placeholder">
                    {{ 'image' | placeholder_svg_tag: 'm-blog-featured-card__placeholder-svg' }}
                  </div>
                {%- endif -%}
              </a>
            </div>

            <div class="m-blog-featured-card__content">
              <h3 class="m-blog-featured-card__title">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h3>

              <div class="m-blog-featured-card__excerpt">
                {%- if article.excerpt != blank -%}
                  {{ article.excerpt | strip_html | truncatewords: 20 }}
                {%- else -%}
                  {{ article.content | strip_html | truncatewords: 20 }}
                {%- endif -%}
              </div>

              <a href="{{ article.url }}" class="m-blog-featured-card__link">READ MORE</a>
            </div>
          </article>
        {%- endfor -%}
      </div>

      <div class="m-blog-featured-posts__explore">
        <a href="/blogs/{{ featured_blog.handle }}" class="m-blog-featured-posts__explore-btn">EXPLORE JOURNAL</a>
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Blog Featured Posts",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Select Blog for More Posts"
    },
    {
      "type": "range",
      "id": "posts_limit",
      "label": "Posts to show",
      "min": 2,
      "max": 6,
      "step": 2,
      "default": 2
    },
    {
      "type": "image_picker",
      "id": "default_image",
      "label": "Default Post Image"
    }
  ],
  "presets": [
    {
      "name": "Blog Featured Posts"
    }
  ]
}
{% endschema %}
