<div id="hero-{{ section.id }}" class="b-hero-banner
    text-pos-x-{{ section.settings.text_position-x }}
    text-pos-y-{{ section.settings.text_position-y }}
    bg-image-pos-x-{{ section.settings.image_alignment_x }}
    bg-image-pos-y-{{ section.settings.image_alignment_y }}">

    <div class="b-hero-banner__content">
        {% if section.settings.title != blank %}
            <h1 class="b-hero-banner__title heading-1 mb-[12px]">{{ section.settings.title }}</h1>
        {% endif %}
        {% if section.settings.subtitle != blank %}
            <p class="b-hero-banner__text body-2">{{ section.settings.subtitle }}</p>
        {% endif %}

        <div class="flex flex-col gap-[12px] justify-center items-center">
          {% if section.settings.baner_button != blank %}
            <a href="{{ section.settings.baner_button_link }}" class="b-hero-banner_btn">{{ section.settings.baner_button }}</a>
          {% endif %}

          {% if section.settings.baner_button2 != blank %}
            <a href="{{ section.settings.baner_button_link2 }}" class="b-hero-banner_btn btn-outline">{{ section.settings.baner_button2 }}</a>
          {% endif %}
        </div>
    </div>
</div>

<style>
  /* базовий блок */
  #hero-{{ section.id }}.b-hero-banner {
    background-image: url({{ section.settings.image_bg | img_url: 'master' }});
    background-size: {{ section.settings.bg_size }};
    background-color: {{ section.settings.bg_color }};
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 {{ section.settings.padding_desktop }}px;
    /* margin-top керується нижче в @media для моб/десктоп */
  }

  /* Image Position */
  #hero-{{ section.id }}.bg-image-pos-x-left { background-position-x: left; }
  #hero-{{ section.id }}.bg-image-pos-x-right { background-position-x: right; }
  #hero-{{ section.id }}.bg-image-pos-x-center { background-position-x: center; }

  #hero-{{ section.id }}.bg-image-pos-y-top { background-position-y: top; }
  #hero-{{ section.id }}.bg-image-pos-y-bottom { background-position-y: bottom; }
  #hero-{{ section.id }}.bg-image-pos-y-middle { background-position-y: center; }

  /* Text Position */
  #hero-{{ section.id }}.text-pos-x-center { justify-content: center; }
  #hero-{{ section.id }}.text-pos-x-left   { justify-content: flex-start; }
  #hero-{{ section.id }}.text-pos-x-right  { justify-content: flex-end; }

  #hero-{{ section.id }}.text-pos-y-center { align-items: center; }
  #hero-{{ section.id }}.text-pos-y-top    { align-items: flex-start; }
  #hero-{{ section.id }}.text-pos-y-flex-end { align-items: flex-end; padding-bottom: 120px;}
  @media (max-width: 767px) {
    #hero-{{ section.id }}.text-pos-y-flex-end { padding-bottom: 40px;}
  }

  /* Main Styles */
  #hero-{{ section.id }} .b-hero-banner__content {
    text-align: {{ section.settings.text_alignment }};
    max-width: {{ section.settings.banner_text_width }}px;
    line-height: 1.5;
  }

  #hero-{{ section.id }} .b-hero-banner__title {
    font-size: {{ section.settings.title_font_size }}px;
    color: {{ section.settings.title_color }};
  }

  #hero-{{ section.id }} .b-hero-banner__text {
    font-size: {{ section.settings.subtitle_font_size }}px;
    color: {{ section.settings.text_color }};
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 32px;
  }

  #hero-{{ section.id }} .b-hero-banner_btn {
    display: inline-block;
    padding: 16px 30px 16px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(71, 71, 71, 1);
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 32px;
    min-width: 220px;
    font-weight: 400;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 1);
    letter-spacing: 4px;
  }
  #hero-{{ section.id }} .b-hero-banner_btn.btn-outline {
    background: transparent; border-color: #fff; color: #fff;
  }
  #hero-{{ section.id }} .b-hero-banner_btn.btn-outline:hover {
    background-color: rgba(71, 71, 71, 1); border-color: rgba(71, 71, 71, 1); color: #fff;
  }
  #hero-{{ section.id }} .b-hero-banner_btn:hover {
    background-color: rgba(71, 71, 71, 1); border-color: rgba(71, 71, 71, 1); color: #fff;
  }

  /* Mobile */
  @media (max-width: 767px) {
    #hero-{{ section.id }}.b-hero-banner {
      height: {{ section.settings.banner_height_mobile }}px;
      padding: {{ section.settings.padding_mobile }}px;
      margin-top: {{ section.settings.margin_top_mobile }}px; /* може бути від’ємним */
    }
    #hero-{{ section.id }} .b-hero-banner__title { font-size: {{ section.settings.title_font_size_mobile }}px; }
    #hero-{{ section.id }} .b-hero-banner__text  { font-size: {{ section.settings.subtitle_font_size_mobile }}px; }
    #hero-{{ section.id }} .b-hero-banner__content { max-width: 100%; width: 100%; text-align: {{ section.settings.text_position-x-mob }}; }
  }

  /* Desktop */
  @media (min-width: 768px) {
    #hero-{{ section.id }}.b-hero-banner {
      height: {{ section.settings.banner_height_desktop }}px;
      margin-top: {{ section.settings.margin_top_desktop }}px; /* може бути від’ємним */
    }
  }
</style>


{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "Welcome!"
    },
    {
      "type": "text",
      "label": "Subtitle",
      "id": "subtitle",
      "default": "Get amazing discounts!"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "baner_button",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "baner_button_link"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "baner_button2",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "baner_button_link2"
    },
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "image_bg"
    },
    {
      "type": "color",
      "label": "Background Color",
      "id": "bg_color",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "label": "Background Size",
      "id": "bg_size",
      "options": [
        { "value": "cover", "label": "Cover" },
        { "value": "contain", "label": "Contain" }
      ],
      "default": "cover"
    },
    {
      "type": "select",
      "label": "BG Image Alignment X",
      "id": "image_alignment_x",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "label": "BG Image Alignment Y",
      "id": "image_alignment_y",
      "options": [
        { "value": "top", "label": "Top" },
        { "value": "middle", "label": "Middle" },
        { "value": "bottom", "label": "Bottom" }
      ],
      "default": "middle"
    },
    {
      "type": "select",
      "label": "Text Position X",
      "id": "text_position-x",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "label": "Text Position X (mobile)",
      "id": "text_position-x-mob",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "label": "Text Position Y",
      "id": "text_position-y",
      "options": [
        { "value": "flex-start", "label": "Top" },
        { "value": "center", "label": "Middle" },
        { "value": "flex-end", "label": "Bottom" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "label": "Text Alignment",
      "id": "text_alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "label": "Title Font Size",
      "id": "title_font_size",
      "default": 60,
      "min": 20,
      "max": 100,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Title Font Size Mobile",
      "id": "title_font_size_mobile",
      "default": 77,
      "min": 20,
      "max": 100,
      "unit": "px"
    },
    {
      "type": "color",
      "label": "Title Color",
      "id": "title_color",
      "default": "#000000"
    },
    {
      "type": "range",
      "label": "Subtitle Font Size",
      "id": "subtitle_font_size",
      "default": 20,
      "min": 12,
      "max": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Subtitle Font Size Mobile",
      "id": "subtitle_font_size_mobile",
      "default": 16,
      "min": 12,
      "max": 40,
      "unit": "px"
    },
    {
      "type": "color",
      "label": "Text Color",
      "id": "text_color",
      "default": "#000000"
    },
    {
        "type": "number",
        "id": "padding_desktop",
        "label": "Padding Desktop (px)",
        "default": 40
    },
    {
      "type": "range",
      "label": "Padding Mobile",
      "id": "padding_mobile",
      "default": 20,
      "min": 12,
      "max": 100,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "margin_top_desktop",
      "label": "Desktop margin-top",
      "default": "-140"
    },
    {
      "type": "text",
      "id": "margin_top_mobile",
      "label": "Mobile margin-top",
      "default": "-100"
    },
    {
      "type": "text",
      "label": "Banner Text Width",
      "id": "banner_text_width",
      "default": "300"
    },
    {
      "type": "text",
      "label": "Banner Height (Desktop)",
      "id": "banner_height_desktop",
      "default": "568"
    },
    {
      "type": "text",
      "label": "Banner Height (Mobile)",
      "id": "banner_height_mobile",
      "default": "300"
    }
  ],
  "presets": [
      {
        "name": "Hero Banner",
        "category": "Custom"
      }
    ]
}
{% endschema %}
