

{% if section.blocks.size > 4 %}<script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js" defer></script>{% endif %}
{% if section.blocks.size > 4 %}<link href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" rel="stylesheet">{% endif %}
  <section class="recommendations bg-gray-100 py-12">
    <div class="container mx-auto px-6 relative {% if section.blocks.size > 4 %}px-0 md:px-6{% endif %}">
      <h2 class="heading-3 text-color_1 text-center">{{ section.settings.heading }}</h2>
      {% if section.blocks.size > 4 %}
        <div class="swiper-navigation">
            <button id="prev-swiper" class="absolute z-10 left-5 md:-left-16 top-1/2 -translate-y-1/2 w-12 h-12 text-white-content rounded-full transition bg-[#b2e3ff] hover:bg-color_1">
              <svg class="rotate-180" fill="currentColor" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M12,25a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42L18.59,16l-7.3-7.29a1,1,0,1,1,1.42-1.42l8,8a1,1,0,0,1,0,1.42l-8,8A1,1,0,0,1,12,25Z"/></g><g id="frame"><rect class="cls-1" height="32" width="32"/></g></svg>
            </button>
            <button id="next-swiper" class="
            absolute z-10 right-5 md:-right-16 top-1/2 -translate-y-1/2 w-12 h-12 text-white-content rounded-full transition bg-[#b2e3ff] hover:bg-color_1">
              <svg viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M12,25a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42L18.59,16l-7.3-7.29a1,1,0,1,1,1.42-1.42l8,8a1,1,0,0,1,0,1.42l-8,8A1,1,0,0,1,12,25Z"/></g><g id="frame"><rect class="cls-1" height="32" width="32"/></g></svg>
            </button>
        </div>
      {% endif %}
        <div class="swiper-container" {% if section.blocks.size > 4 %}data-swiper{% endif %}>
          <div class="swiper-wrapper {% if section.blocks.size < 5 %}grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6{% endif %}">
            {% for block in section.blocks %}
              <div class="swiper-slide text-center rounded-3xl !h-auto">
                {% if block.settings.product != blank %}
                  {% assign product = all_products[block.settings.product] %}
                <div class="flex
                {% if section.blocks.size < 5 %}min-w-[80vw] md:min-w-0 {% endif %}
                flex-col mr-8 md:mr-0 rounded-lg overflow-hidden transition-shadow duration-300 font-plusJakarta font-semibold h-full">
                  <div class="block grow">
                    <div class="w-full pb-[120%] rounded-3xl overflow-hidden figure-block bg-light-blue-bg">
                      <img
                        src="{{ product.featured_image | img_url: '500x500', crop: 'center' }}"
                        alt="{{ product.title }}"
                        class="figure-image rounded-3xl"
                        width="500"
                        height="500"
                      />
                    </div>
                    <div class="pt-6 pb-3">
                      <div class="flex sm:flex-row flex-col sm:justify-between sm:items-center">
                        <h2 class="text-xl font-bold line-clamp-2">
                          <a href="{{ product.url }}">{{ product.title }}</a>
                        </h2>
                        <p class="font-bold text-base sm:mt-0">{{ product.price | money }} /pack</p>
                      </div>
                    </div>
                  </div>
                  <div class="mt-auto" x-data="variantSelector('{{ product.first_available_variant.id }}')">
                    {% if product.variants.size > 1 %}
                      <div class="mt-6">
                        <form class="variant-selector b-pack__form" @change="updateSelectedVariants">
                          <div class="flex w-full gap-1 mb-6">
                            {% for variant in product.variants %}
                              <div class="flex items-center grow b-pack__form-variant relative">
                                <input
                                  type="checkbox"
                                  id="variant-{{ product.id }}-{{ forloop.index }}"
                                  name="variant-{{ product.id }}"
                                  value="{{ variant.id }}"
                                  class="opacity-0 absolute b-pack__form-input"
                                  {% if forloop.first %}checked{% endif %}
                                />
                                <label for="variant-{{ product.id }}-{{ forloop.index }}"
                                  class="
                                    text-xl
                                    b-pack__form-label
                                    p-4
                                    m-border-shadow
                                    w-full
                                    rounded-xl
                                    font-extrabold
                                    font-cenzo
                                    text-center
                                    cursor-pointer
                                    transition
                                    text-black-inactive
                                    hover:text-black-content
                                  ">
                                  {{ variant.title }}
                                </label>
                              </div>
                            {% endfor %}
                          </div>
                          <button
                            type="submit"
                            class="btn btn-primary w-full"
                            @click.prevent="addToCart"
                          >
                            ADD TO CART
                          </button>
                        </form>
                      </div>
                    {% else %}
                      <button
                        class="
                        btn btn-primary w-full"
                        @click.prevent="addToCart"
                      >
                        ADD TO CART
                      </button>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
    </div>
  </section>
  <script>
    document.addEventListener('alpine:init', () => {
      Alpine.data('variantSelector', (defaultVariantId) => ({
        selectedVariants: [],
        defaultVariantId,

        updateSelectedVariants(event) {
          const form = this.$el;
          const selectedCheckbox = event.target;

          form.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
            if (checkbox !== selectedCheckbox) {
              checkbox.checked = false;
            }
          });

          this.selectedVariants = selectedCheckbox.checked ? [selectedCheckbox.value] : [];
        },

        addToCart() {
          const variantId = this.selectedVariants.length > 0
            ? this.selectedVariants[0]
            : this.defaultVariantId;
          const product = {
            variantId
          };
          Alpine.store('cart').addToCart(product);
        }
      }));
    });
    document.addEventListener('DOMContentLoaded', () => {
      const swiperContainer = document.querySelector('.swiper-container[data-swiper]');

      if (swiperContainer) {
        new Swiper(swiperContainer, {
          loop: true,
          slidesPerView: 5,
          spaceBetween: 15,
          breakpoints: {
            320: { slidesPerView: 1.4, spaceBetween: 15, centeredSlides: true },
            768: { slidesPerView: 3, spaceBetween: 10 },
            1024: { slidesPerView: 4, spaceBetween: 15 },
          },
          navigation: {
            nextEl: '#next-swiper',
            prevEl: '#prev-swiper',
          },
        });
      }
    });
  </script>

  {% schema %}
    {
      "name": "Product Recommendations",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Recommended Products"
        }
      ],
      "blocks": [
        {
          "type": "product",
          "name": "Product",
          "settings": [
            {
              "type": "product",
              "id": "product",
              "label": "Select Product"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Product Recommendations",
          "category": "Featured"
        }
      ]
    }
    {% endschema %}

