<div
  id="our-partners-{{ section.id }}"
  class="
  palette-{{ section.settings.color_scheme }}
  our-partners
  "
>
  <div class="bg-scheme-bg py-8 md:py-24">
    <div class="container m-responsive text-center pb-16">
      <h3 class="text-baseBig text-white-content font-Aksen uppercase font-bold mx-8 md:mx-0">{{ section.settings.subtitle }}</h3>
      <h2 class="text-4xl text-scheme-primary font-Gazpacho mb-0 mx-8 md:mx-0">
        {{ section.settings.title | replace: '[', '<span>' | replace: ']', '</span>' }}
      </h2>
    </div>
    <div class="container m-responsive">
      <div class="bg-white-bg rounded-regular shadow-regular mx-8 md:mx-0 p-8 md:p-16">
        {% if section.settings.logo %}
          {% render 'image' with section.settings.logo, class: "rounded-none w-[390px] m-auto mb-4", width: '392px' %}
        {% endif %}

        {% if section.settings.main_copy %}
          <div class="text-baseBig font-Aksen font-bold text-scheme-primary text-center w-full sm:w-1/2 md:w-1/3 m-auto">
            {{ section.settings.main_copy }}
          </div>
        {% endif %}

        <div class="flex flex-col gap-24 pt-20">
          {% for block in section.blocks %}
            <div class="
              block sm:flex sm:gap-8 lg:gap-24 items-stretch
              {% if block.settings.select_part == 'left' %}
                flex-row
              {% else %}
                flex-row-reverse
              {% endif %}"
              >
              <div class="sm:w-1/2  mb-8 sm:mb-0">
                {% if block.settings.block_image %}
                  {% render 'image' with block.settings.block_image, class: "aspect-square m-auto shadow-regular", width: '100px', height: '100px' %}
                {% endif %}
              </div>
              <div class="sm:w-1/2 flex flex-col justify-center h-inherit text-left items-start">
                <h3 class="text-4xl font-Gazpacho text-scheme-primary">{{ block.settings.block_title }}</h3>
                <p class="text-baseBig text-black mb-8">{{ block.settings.block_description }}</p>
                {% if block.settings.button_link %}
                  <a href="{{ block.settings.button_link }}" class="btn btn-primary btn-scheme">{{ block.settings.button_label }}</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Our Partners",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-4"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "meet one of our<br />[local partners]"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Our partners"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "main_copy",
      "label": "Main Text",
      "default": "meet one of our<br />[local partners]"
    },
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Block Image"
        },
        {
          "type": "text",
          "id": "block_title",
          "label": "Block Title",
          "default": "Block Title"
        },
        {
          "type": "text",
          "id": "block_description",
          "label": "Block Description",
          "default": "Block description goes here"
        },
        {
          "type": "select",
          "id": "select_part",
          "label": "Block Color",
          "options": [
            {
              "value": "left",
              "label": "Image Left"
            },
            {
              "value": "right",
              "label": "Image Right"
            },
          ]
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Get Started"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Our Partners",
    }
  ]
}
{% endschema %}
